<!DOCTYPE html>
<div class="layer-info-item pull-right">
    <span class="glyphicon glyphicon-switch glyphicon-plus rotate"></span>
</div>

<div class="layer-item pull-left">
    <% if (isSelected === true) { %>
        <span class="glyphicon glyphicon-check"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked"></span>
    <% } %>
    <% if (isSecured) { %>
        <span class="glyphicon glyphicon-lock"></span>
    <% } %>
    <span class="title"><%= name %></span>
</div>
