<!DOCTYPE html>
    <div class="header">
        <span class="title"><%=searchTitleText%></span>
        <div class="pull-right">
            <span tabindex="0" class="glyphicon glyphicon-print"></span>
            <span tabindex="0" class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <div class="content container-fluid">
        <div class="inhalt">
            <a href="#allgemein"><%=generalInfoText%></a>
            <a href="#adresse"><%=addressSearchText%></a>
            <a href="#hausnummer"><%=houseNumberSearchText%></a>
            <a href="#themen"><%=topicsSearchText%></a>
            <a href="#flurstueck"><%=parcelSearchText%></a>
        </div>
        <h3 id="allgemein"><%=generalInfoText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=generalInfoHelpText1%>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + searchbarAllgemeines1 %>">
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=generalInfoHelpText2%>
            </p>
        </div>
        <div class="row">
            <p class="col-md-6">
                <img class="img-responsive img-thumbnail" src="<%= imgPath + searchbarAllgemeines2 %>">
            </p>
            <p class="col-md-6">
                <img class="img-responsive img-thumbnail" src="<%= imgPath + searchbarAllgemeines3 %>">
            </p>
        </div>
        <h3 id="adresse"><%=addressSearchText%></h3>
        <div class="row">
            <p class="col-md-12">
               <%=addressHelpText%>
            </p>
        </div>
        <h3 id="hausnummer"><%=houseNumberSearchText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=houseNumberHelpText%>
            </p>
        </div>
        <h3 id="themen"><%=topicsSearchText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=topicsHelpText%>
            </p>
        </div>
        <h3 id="flurstueck"><%=parcelSearchText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=parcelHelpText%>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail" src="<%= imgPath + searchbarFlurstueckssuche %>">
            </p>
        </div>
</div>
