<!DOCTYPE html>
    <div class="header">
        <span class="title"><%=measureTitleText%></span>
        <div class="pull-right">
            <span tabindex="0" class="glyphicon glyphicon-remove"></span>
            <span tabindex="0" class="glyphicon glyphicon-print"></span>
        </div>
    </div>
    <div class="content">
        <div class="inhalt">
            <a href="#allgemein"><%=generalInfoText%></a>
            <a href="#statistik"><%=statisticalApproxText%></a>
            <a href="#UTM"><%=equalizationUTMText%> </a>
            <a href="#useInMap"><%=conversionInMapText%></a>

        </div>
        <h3 id="allgemein"><%=generalInfoText%></h3>
        <div class="row">
                 <p class="col-md-12">
                     <%=influenceFactorsText%>
                 </p>
        </div>
        <div class="row">
            <ul>
                <li><%=scaleText%>,</li>
                <li><%=resolutionText%>,</li>
                <li><%=screenResolutionText%>,</li>
                <li><%=inputAccuracyText%></li>
                <li><%=measureDistanceText%></li>
            </ul>
        </div>
        <h3 id="statistik"><%=statisticalApproxText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=standardDeviationText%><br><br>
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th><%=spotDefectsText%></th>
                            <th><%=scaleText%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0,5</td>
                            <td>1:500</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1:1000</td>
                        </tr>
                        <tr>
                            <td>2,5</td>
                            <td>1:2500</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>1:5000</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>1:10000</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>1:20000</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>1:40000</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>1:60000</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>1:100000</td>
                        </tr>
                        <tr>
                            <td>250</td>
                            <td>1:250000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=errorPropagationLawText%><br><br>
                <%=forAreasText%><br><br>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + statistikFlaecheNiemeier %>"><br>
                (Niemeier, 2002)<br><br>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=forDistancesText%><br><br>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + statistikStreckeUniErlangen %>"><br>
                (<a href="http://www.hs-bochum.de/fb5/baeumker/download/vermessungskundes1-36einseitig.pdf">Uni Erlangen, 2016</a>)<br><br>
            </p>
        </div>
        <div class="row">
            <p class="col-md-12">
                <%=errorReasonText%><br>
                <%=exampleText%><br>
                <%=exampleContentText%><br><br>
            </p>
        </div>
        <h3 id="UTM"><%=equalizationUTMText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=UTMHelp1Text%><br><br>
            </p>
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + utmStreifen %>"><br>
                <%=UTM6Text%><br><br>
            </p>
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + utmVerzerrung %>"><br>
                <%=imageDistortion1Text%><br><br>
            </p>
             <p class="col-md-12">
                <%=imageDistortion2Text%> <br><br>
            </p>
            <p class="col-md-12">
                <img class="img-responsive img-thumbnail .center-block" src="<%= imgPath + utmFormeln %>"><br>
                <%=formulasText%><br><br>
            </p>
        </div>
         <h3 id="useInMap"><%=conversionInMapText%></h3>
        <div class="row">
            <p class="col-md-12">
                <%=useInMapHelpText%>
            </p>
        </div>
    </div>
