@import "../../css/mixins.less";

@color_1: rgb(255, 255, 255);
@color_2: rgb(53, 53, 53);
@font_family_1: "MasterPortalFont","Arial Narrow",Arial,sans-serif;
@background_color_1: rgb(8, 88, 158);

.dropdown-menu {
    border: 1px solid #ccc;
    max-height:calc(100vh - 80px);
    overflow: auto;
    >li {
        >a {
            font-family: @font_family_1;
            font-size: 12px;
            color: @color_2;
            &:focus {
                opacity: 1.0;
                .primary_action_focus();
            }
            &:hover {
                .primary_action_hover();
            }
            >span {
                padding-right: 8px;
            }
        }
    }
    >.active {
        >a {
            background-color: @accent_active;
            color: @color_1;
            &:hover {
                .primary_action_hover();
            }
        }
    }
    >.divider {
        margin: 6px 0;
    }
}
@media (max-width: 767px) {
    .dropdown-menu {
        border-right: 0;
        border-left: 0;
    }
}
