<!DOCTYPE html>
<% recommendedList.forEach(function (hit, index) { %>
    <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName === undefined ? hit.name: hit.metaName %>">
        <p id="searchInputLi">
            <% if (hit.glyphicon !== undefined) { %>
                <span class="glyphicon <%= hit.glyphicon %>"></span>
            <% } else { %>
                <img src="<%= hit.imageSrc %>">
            <% } %>
            <span class="list-group-item-name line-break"><%= hit.shortName === undefined ? hit.name : hit.shortName %></span>
            <span class="list-group-item-theme"><%= hit.additionalInfo === undefined ? hit.type: hit.additionalInfo %></span>
        </p>
    </li>
<% }); %>
<% if (uiStyle === "TABLE") { %>

    <% if (hitList.length >= recommendedListLength && hitList.length !== 0) { %>
        <li class="list-group-item results"><div><span><%= showAllResultsText %></span><span class="glyphicon glyphicon-play-circle"></span></div></li>

        <div class="search-funnel"></div>

        <div class="search-right-funnel-corner"></div>
    <% } else if (hitList.length < recommendedListLength && hitList.length !== 0) { %>

        <li class="list-group-item results"></li>

        <div class="search-funnel"></div>

        <div class="search-right-funnel-corner"></div>
    <% } %>
<% } else { %>
    <% if (hitList.length >= recommendedListLength) { %>

         <li class="list-group-item results"><div><span><%= showAllResultsText %></span><span class="glyphicon glyphicon-play-circle"></span></div></li>
    <% } %>
<% } %>
